{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'portfolio/style.css' %}">
    <base href="/">  <!-- Ensure relative URLs work correctly -->
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'home' %}" class="nav-logo">Portfolio</a>
            <div class="nav-links">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'skill_list' %}">Skills</a>  <!-- Updated here -->
                <a href="{% url 'projects' %}">Projects</a>
                <a href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </nav>
    

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Muzakkir Pathan. All rights reserved.</p>
    </footer>

    <script src="{% static 'portfolio/script.js' %}"></script>
</body>
</html>
