{% extends 'portfolio/base.html' %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to Muzakkir Pathan's Portfolio</h1>
            <h2>Python Developer | Cloud Computing MSc</h2>
            <p class="professional-summary">
                Python Developer with 3 years of experience in data extraction, processing, and automation...
            </p>
            <a href="contact" class="btn">Get in Touch</a>
        </div>
    </section>
{% endblock %}